{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<form action="{{ url_for('events.create_or_edit') }}" method="post" class="m-auto" style="width: 400px;">
    {% if event %}
        <input type="hidden" name="id" value="{{ event.id }}">
    {% endif %}

    <h1>{% block title %}{{ 'Edit' if event else 'Create' }} Event{% endblock %}</h1>
    <span class="text-danger">{{ error if error else ''}}</span>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="form-control" value="{{ event.name if event else '' }}" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" required>{{ event.description if event else '' }}</textarea>
    </div>
    <div id="startTimeDiv" class="form-group" style="display: none;">
        <label for="start_time">Start Time</label>
        <input id="start_time" name="start_time" type="text" class="form-control"
            value="{{ event.start_time.strftime('%m/%d/%Y') if event and (event.event_type == EventType.REMINDER or event.event_type == EventType.EVENT) else '' }}" required>
    </div>
    <div id="endTimeDiv" class="form-group" style="display: none;">
        <label for="end_time">End Time</label>
        <input id="end_time" name="end_time" type="text" class="form-control"
            value="{{ event.end_time.strftime('%m/%d/%Y') if event and event.event_type == EventType.EVENT else '' }}" required>
    </div>
    <div class="form-group">
        <label for="event_type">Event Type</label>
        <select id="event_type" name="event_type" class="form-control" required {{ 'readonly' if event else '' }}>
            <option value="">Select Event Type</option>
            {% for e in EventType %}
            <option value="{{ e.value }}" {{ 'selected' if event.event_type == e else '' }}>{{ e.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="{{ 'Save' if event else 'Create' }}" class="btn btn-primary">
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    // Hide or show various divs based on EventType
    function hideOrShowDivs() {
        var startTimeDiv = document.querySelector("#startTimeDiv");
        var endTimeDiv = document.querySelector("#endTimeDiv");
        var eventType = document.querySelector("#event_type");
        switch (eventType.value) {
        case "{{ EventType.NOTE.value }}":
            startTimeDiv.style.display = "none";
            endTimeDiv.style.display = "none";
            break;
        case "{{ EventType.EVENT.value }}":
            startTimeDiv.style.display = "inline";
            endTimeDiv.style.display = "inline";
            break;
        case "{{ EventType.REMINDER.value }}":
            startTimeDiv.style.display = "inline";
            endTimeDiv.style.display = "none";
            break;
        case "{{ EventType.ENCRYPTED.value }}":
            startTimeDiv.style.display = "none";
            endTimeDiv.style.display = "none";
            break;
        }
    }
    window.addEventListener("load", function() {
        function validateEvent() {
            hideOrShowDivs();
            startTime = document.querySelector("#start_time");
            endTime = document.querySelector("#end_time");
            eventType = document.querySelector("#event_type");
            switch (eventType.value) {
            case "{{ EventType.ENCRYPTED.value }}":
            case "{{ EventType.NOTE.value }}":
                if (startTime.hasAttribute("required")) {
                    startTime.removeAttribute("required");
                }
                if (endTime.hasAttribute("required")) {
                    endTime.removeAttribute("required");
                }
                break;
            case "{{ EventType.EVENT.value }}":
                startTime.setAttribute("required", "");
                endTime.setAttribute("required", "");
                break;
            case "{{ EventType.REMINDER.value }}":
                startTime.setAttribute("required", "")
                if (endTime.hasAttribute("required")) {
                    endTime.removeAttribute("required");
                }
                break;
            }
        }
        document.querySelector("#event_type").addEventListener("change", validateEvent);
        // Call validateEvent() onload to ensure the proper required attributes are set
        validateEvent();
    });
    // Setup the datetime pickers
    $(function () {
        $("#start_time").datepicker();
        $("#end_time").datepicker();
    });
</script>
{% endblock %}
